.menu{
    display: flex;
    flex-direction: column;
}

.menu--top{
    background-color: #003246;
    margin: 0px;
    width: 250px;
    padding: 20px;
    color: #F5F5F5;
    font-size: 3rem;
    text-align: center;
    z-index: 10;
    box-shadow: 0px 5px 5px 0px rgba(7, 7, 7, 0.2);
}

.menu--nav{
    background-color: #0387B1;
    flex: 1;
}

.menu--nav ul{
    list-style: none;
}

.menu--nav li{
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
}
.menu--nav--link{
    text-decoration: none;
    flex: 1;
    color: #F5F5F5;
    font-size: 1.6rem;
    padding: 5px;
}

.menu--nav--link:hover{
    background-color: rgba(36, 34, 34, 0.171);
}